<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Product information</title>
</head>
<body >
    <h1>Product information:</h1>

    <table>
          <tr>
              <td>Id:</td>
              <td th:text="${{product.id}}"></td>
          </tr>
          <tr>
              <td>Name</td>
              <td th:text="${{product.name}}"></td>
          </tr>
          <tr>
              <td>Description</td>
              <td th:text="${{product.desc}}"></td>
          </tr>
          <tr>
              <td>Date when add</td>
              <td th:text="${{product.dateAdd}}"></td>
          </tr>
          <tr>
              <td>Date of last update</td>
              <td th:text="${{product.dateUpdate}}"></td>
          </tr>
          <tr>
              <td>Added by user</td>
              <td th:text="${{product.ownerName}}"></td>
          </tr>
  </table>

  <p><a th:href="@{/}">Home page</a> |
  <a th:href="@{/productList}">Back to list</a> |
  <a th:href="@{'/editProduct/'+${{product.id}}}">Edit product</a></p>

</body>
</html>